@font-face {
    font-family: 'shabnam';
    src: url('/Nimad/assets/fonts/Shabnam.ttf');
  }


  @font-face {
    font-family: 'shabnam-light';
    src: url('/Nimad/assets/fonts/Shabnam-Light.ttf');
  }