:root {
    --primary-color: #4182ff;
    --font-color: #303030;
    --secondry-font-color: #b4b4b4;
    --secondary-font-color: #fff;
    --font-family: 'shabnam-light';
    --font-family-en: 'Roboto';
    --font-size-base: 16px;
    --font-weight-normal: 400;
    --font-weight-bold: 600;
    --font-weight: 500;
    --content-color: #67737e;
    --font-size: 13px;
    --blog-color: #737373;
    --input-bg: #f2f2f2;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-bold);
}

a {
    color: var(--font-color);
    text-decoration: none;
}

.link--color {
    color: var(--content-color);
}

span {
    color: var(--secondary-font-color);
    text-decoration: none;
}

.p-font-size {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.bg--section {
    background-color: var(--content-color);
}

.text--font-weight {
    font-weight: var(--font-weight-bold);
}

.text-primary {
    color: var(--primary-color);
}

.text--secondary {
    color: var(--secondry-font-color);
    font-size: 11px;
}

.icon-color {
    --secondary-font-color: #fff;
}

.input--bg {
    background-color: var(--input-bg);
}

.font-color {
    color: var(--font-color);
}

.bg--primary {
    background-color: var(--primary-color);
}

.bg--secondary {
    background-color: var(--secondary-color);
}

.blog--color {
    color: var(--blog-color);
}

.navbar-logo .logo,
.footer-logo .footer-logo-img {
    width: 48px;
    max-width: 250px;
    height: 48px;
}

.phone-number a {
    font-size: 14px;
    font-weight: 500;
}

.change-lang {
    width: 58px;
    height: 32px;
    border-radius: 16px;
    border: solid 0.5px #d9d9d9;
    background-color: #fff;
}

.register-login {
    width: 105px;
    height: 32px;
    border-radius: 16px;
}

.register-login i {
    font-size: 12px;
}

.register-login span a {
    font-size: 12px;
    font-weight: 500;
    color: var(--secondary-font-color);
}

.change-lang .change-lang-menu {
    border-radius: 16px;
    border-color: none !important;
}

.change-lang .nav-link img,
.change-lang-menu .dropdown-item img {
    width: 22px;
    height: 22px;
}

.change-lang .change-lang-menu {
    min-width: 57px;
    margin-top: 3px;
}

.change-lang-menu .dropdown-item {
    text-align: left;
    padding-left: 6px;
}

.about-section h3 {
    color: var(--font-color);
    font-size: 16px;
    font-family: var(--font-family);
}

.about-section p {
    font-size: 12px;
    color: var(--content-color);
    line-height: normal;
    text-align: justify;
    font-family: var(--font-family);

}

.our-projects .project {
    width: 148px;
    height: 59px;
    margin: 0 0 16px 20px;
    padding: 15px 22px 16px 23px;
    border-radius: 13px;
    box-shadow: 0 15px 60px 0 rgba(101, 153, 255, 0.25);
    background-color: #fff;
}

.our-projects .project .icon {
    width: 28px;
    height: 28px;
    flex-grow: 0;
    margin: 0 0 0 6px;
    padding: 6px;
    border-radius: 50%;
}

.our-projects .project .icon-1 {
    background-color: #ddffd8;
}

.our-projects .project .icon-2 {
    background-color: #d4f2ff;
}

.our-projects .project .icon-3 {
    background-color: #ffead4;
}

.our-projects .project .icon-4 {
    background-color: #ffd4e2;
}

.services-tex h5 {
    font-size: 14px;
}

.services-div .services-img img {
    object-fit: cover;
    height: 124px;
}

.rounded-arrow {
    bottom: 15px;
}

.rounded-arrow>span {
    width: 30px;
    height: 30px;
}

.services-div {
    transition: transform 0.3s ease;
}

.services-div:hover .services-img img {
    transform: scale(1.1);
}

.services-div:hover .services-text-info p {
    color: var(--primary-color);
}

.services-img img {
    transition: transform 0.3s ease;
}

.request-section .request-img-text {
    height: 190px;
}

.request-section .request-img-text img {
    width: 206px;
}

.request-from h6,
.request-from p {
    color: var(--secondary-font-color) !important;
}

.request-sec {
    margin-top: 10rem;
    ;
}

.request-from-dropdown button::after {
    display: none !important;
}

.request-from .form .input-form,
.request-from .request-from-dropdown button,
.request-from .request-from-dropdown .dropdown-menu {
    width: 160px;
}

.request-from .form .input-form:hover {
    border-color: var(--primary-color);
    box-shadow: none !important;
}

.request-from .form .input-form:focus,
.request-from .request-from-dropdown button:focus {
    box-shadow: none !important;
}

.request-from .form .send-btn {
    width: 130px;
}

.request-from .form .btn:focus {
    border: none !important;
}

.certificate-sec {
    background-color: rgba(65, 130, 255, 0.15);
    height: 100px;
}

.certificate-sec p {
    padding-top: 4rem;
}

.certificate-photo img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    right: 0;
    left: 0;
    bottom: -3rem;
}

.blog-img {
    padding: 8px 8px 12px;
    border: solid 0.5px #d9d9d9;
}

.blog-img h3 {
    font-size: 12px;
    color: var(--font-color);
}

.blog-date .truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    max-height: 3em;
}

.blog-swiper {
    padding-bottom: 4rem;
}

.blog-swiper .swiper-pagination-bullet {
    background-color: #e8f1f8;
    opacity: 1;
    transition: all 0.3s ease;
}

.blog-swiper .swiper-pagination-bullet-active {
    width: 25px;
    height: 8px;
    background-color: #007bff;
    border-radius: 20px;
}


.my-project-swiper {
    background: url("/Nimad/assets/img/2-2\ 1.png");
    height: 302px;
}

.project-swiper {
    width: 92%;
    height: 180px;
}


.my-project-swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: calc(100% - 15px);
    border-radius: 12px;
    object-fit: cover;
}



.my-project-swiper .btn-circle {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    top: calc(50% + 6px);
}

.my-project-swiper .swiper-button-prev::after,
.my-project-swiper .swiper-button-next::after {
    font-size: 12px;
}

.footer-content .footer-info p {
    font-size: 12px;
    line-height: 1.5rem;
}

.footer-about .footer-logo p,
.footer-about .copy-write {
    text-align: justify;
    font-size: 12px;
    line-height: 1.5rem;
}

.footer-section {
    border-radius: 20px 20px 0 0;
}

.footer-socila-media img {
    width: 26px;
    height: 26px;
}




.inner-curve-right {
    --r: 10px;
    --s: 30px;
    --a: 20deg;

    width: 100%;
    aspect-ratio: 1;
    background: transparent;
    border-radius: var(--r);
    --_m: /var(--r) calc(2*var(--r)) no-repeat radial-gradient(100% 50% at left, #000 calc(100% - 1px), #0000);
    --_d: (var(--s) + var(--r))*cos(var(--a));
    mask:
        100% calc(50% + var(--_d)) var(--_m), 100% calc(50% - var(--_d)) var(--_m),
        radial-gradient(var(--s) at calc(100% + sin(var(--a))*var(--s)) 50%,
            #0000 100%, #000 calc(100% + 1px)) calc(var(--r)*(sin(var(--a)) - 1)) 0 no-repeat,
        linear-gradient(#000 calc(50% - var(--_d)), #0000 0 calc(50% + var(--_d)), #000 0);
}



.inner-curve-left {
    --r: 10px;
    --s: 30px;
    --a: 20deg;

    width: 100%;
    height: 100%;

    aspect-ratio: 1;
    background: transparent;
    border-radius: var(--r);
    --_m: /var(--r) calc(2*var(--r)) no-repeat radial-gradient(100% 50% at right, #000 calc(100% - 1px), #0000);
    --_d: (var(--s) + var(--r))*cos(var(--a));
    mask:
        0 calc(50% + var(--_d)) var(--_m), 0 calc(50% - var(--_d)) var(--_m),
        radial-gradient(var(--s) at calc(-1*sin(var(--a))*var(--s)) 50%,
            #0000 100%, #000 calc(100% + 1px)) calc(var(--r)*(1 - sin(var(--a)))) 0 no-repeat,
        linear-gradient(#000 calc(50% - var(--_d)), #0000 0 calc(50% + var(--_d)), #000 0);
}

.header-line {
    height: 0.5px;
    background-color: #D9D9D9;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.above-link i {
    color: var(--content-color) !important;
}

#ContactUs input::placeholder,
#ContactUs textarea::placeholder {
    font-size: 11px;
    color: var(--secondry-font-color);
}

#ContactUs input:focus,
#ContactUs textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: #f2f2f2;
}

#ContactUs textarea {
    resize: none;
}

.message-box .submit-btn {
    text-align: left;
}

.follow-on-social .social-img {
    width: 90px;
    height: 30px;
}

.socila-media-box .social-img img {
    width: 15px;
    height: 15px;
}

.map-frame span {
    width: 100px;
    height: 35px;
    position: absolute;
    bottom: -6px;
    left: 0;
    margin: 0 auto;
    right: 0;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(217, 217, 217, 0.3);
    font-weight: 600;
    font-size: 11px;
}

.custom-margin {
    margin-top: 2rem !important;
}


.main-swiper .btn-circle-primary {
    background-color: #4182ff26;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    cursor: pointer;
    top: calc(50% + 3px);
}

.main-swiper .swiper-button-prev::after,
.main-swiper .swiper-button-next::after {
    font-size: 14px; 
}


.main-swiper .swiper-button-prev{
    left:-18px !important;
}

.main-swiper .swiper-button-next{
    right:-18px !important;
}



.project-swiper .project-info-text{
    height:30px;
    top:-15px;
    width: 80%;
}

.project-swiper .project-info-text h6{
    line-height: 30px;

}


@media only screen and (max-width: 768px) {
    .no-padding {
        padding: 0 !important;
    }

    .locations {
        margin-top: 3rem !important;
    }

    .custom-margin-second-frame {
        margin-top: 2rem !important;
    }

}